[Desktop Entry]
Name=SkiFree
Comment=Skifree game
Exec=bash /usr/bin/skifree
Icon=/usr/share/enderbyteprograms/icons/skifree.xpm
Terminal=false
Type=Application
Categories=Games;
